* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: aquamarine;
    color: blue;
}

header {
    background-color: blueviolet;
    color: azure;
    text-align: center;
    padding: 40px 20px;
}

header h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

header p {
    font-size: 28px;
}

main {
    max-width: 900 px;
    margin: 40px auto;
    padding: 0 20 px;
}

section{
    background-color: white;
    padding: 30px;
    margin-bottom: 25px;
    border-radius: 10 px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.09);
}
section h2{
    margin-bottom: 15px;
    color: brown;
}
section p{
    line-height: 2;
}

footer {
    background-color: chartreuse;
    color: darkblue;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}